.cartItemBox{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
.cartItems{
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
}
.cartQty{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qty{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 4px;
    outline: none;
    text-align: center;
    width: 60px;
    height: 40px;
    /* margin-top: 32px; */
}

.cartSubRemove {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 10px !important; */
}
.btnRemove{
    background: #e00f0fb5;
    border: none;
    outline: none;
    color: #fff;
    padding: 1px 5px 1px 5px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif
}


.title{
    margin-bottom: 5vh;
}
.cardItem{
    margin: auto;
    /* max-width: 950px; */
    /* width: 90%;  */
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}
@media(max-width:767px){
    .cardItem{
        margin: 3vh auto;
    }
}
.cardItem .cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .cardItem .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.summary{
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}
@media(max-width:767px){
    .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}
.summary .row{
    margin: 0;
}
.summary .title b{
    font-size: 1.5rem;
}
.summary .main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.summary .col-2, .summary .col{
    padding: 0 1vh;
}
.summary a{
    padding: 0 1vh;
}
.summary .close{
    margin-left: auto;
    font-size: 0.7rem;
}
.cardItem img{
    width: 3.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}
.cardItem h5{
    margin-top: 4vh;
}
.cardItem hr{
    margin-top: 1.25rem;
}

.summary select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.summary input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.summary input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.summary .btn{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.summary .btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.summary .btn:hover{
    color: white;
}
.summary a{
    color: black; 
}
.summary a:hover{
    color: black;
    text-decoration: none;
}
 #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

.emptyCart{
    width:400px;
    margin-right:auto;
    margin-left:auto;
    display:block;

}

.checkoutWrapper {
    background: #fcfafa;
    padding: 15px;
    border-radius: 10px;
  }
  
  .summary{
    font-family: sans-serif;
  }
  .finalTotal{
    border-top: 1px solid #b3a3a3;
    margin-top: 10px;
    /* border-bottom: 1px solid #b3a3a3; */
    padding: 10px 0 10px 0;
  }
  .checkoutBtn{
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
      background: #000;
      color: #fff;
  
  }
  .checkoutBtn:hover{
    background: #fff;
    color: #000;
  }
  .df-jcsb{
    display: flex;
    justify-content: space-between;
  }
  .btnQty {
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    background: #1c75f7;
    color: #fff;
}
  .iconRemove{
     
        color: #db7979;
        cursor: pointer;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 25px
  }
