.card-btm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-btm{
    font-weight: bold;
    font-size: 18px;
}
.imgProduct{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}